.app{
    position: relative;
}

button{
    padding: 10px 100px;
    background-color: brown;
    position: absolute;
    color: #fff;
    border-radius: 10px;
}
button:hover{
    background-color: yellow;
    color: black;
}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 50% 38%;
    border-radius: 50%;
}